{
  "aws_id": "YOUR-AWS-ID",
  "aws_secret": "YOUR-AWS-SECRET",
  "bucket_region": "YOUR-BUCKET-REGION",
  "bucket_name": "YOUR-BUCKET-NAME",
  "db_conn": "USER:PASSWORD@tcp(localhost:3306)/DBNAME",
  "slack_hook_url": ""
}
