name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.x

      - name: Build linux
        run: make linux

      - name: Build macos
        run: make macos

      - name: Test
        run: make test

      - name: Lint
        run: make lint

      - name: retrieve all tags
        run: git fetch --prune --unshallow --tags

      - name: Print changes since last version
        run: git log $(git describe --tags --abbrev=0)..HEAD --no-merges --oneline